---
export const prerender = false;

import Logo from "../components/Logo.astro";

import Title from "../components/Title.astro";
import Headline from "../components/Headline.astro";
import LogoSlider from "../components/LogoSlider.astro";
import AccountInfo from "../components/AccountInfo.astro";
import Footer from "../components/Footer.astro";

import Phone from "../components/icons/Phone.astro";
import HandIcon from "../components/icons/HandIcon.astro";
import BoxIcon from "../components/icons/BoxIcon.astro";
import Layout from "../components/Layout.astro";

const endpoint = "http://localhost:8000/api/graphql";
const graphqlQuery = {
  query: `
      query Partners {
        partners {
          name
          photo {
            publicUrl
          }
        }
      }
    `,
};

const options = {
  method: "POST",
  headers: {
    "Content-Type": "application/json",
    Accept: "application/json",
  },
  body: JSON.stringify(graphqlQuery),
};

const res = await fetch(endpoint, options);

const { data } = await res.json();

const partners = data.partners;
---

<Layout title="UCAD - Corporación iniciativa UCAD">
  <body class="md:overflow-x-hidden touch-pan-y">
    <header
      class="h-full bg-cover relative from-cyan-500 to-blue-500 bg-[#612D87] animate-[heroImage_100s_linear_infinite] bg-center bg-blend-soft-light mb-20 md:mb-32"
    >
      <div class="container mx-auto px-8 pt-8 md:pt-16 pb-32 md:pb-64">
        <div
          class="flex place-content-center mb-10 md:place-content-start md:mb-20"
        >
          <Logo classes="w-20 h-16 md:w-32 md:h-24" />
        </div>
        <h1
          class="text-3xl font-bold text-white mb-4 font-title md:text-6xl md:w-1/2 md:mb-8"
        >
          Corporación iniciativa UCAD
        </h1>
        <p class="text-white w-3/5 mb-16 md:text-2xl md:w-1/2">
          Nuestra labor es ayudar a personas en situación de calle y adultos
          mayores en estado de vulneración.
        </p>
      </div>
      <div
        class="absolute -bottom-px md:-bottom-1 2xl:-bottom-2 left-0 w-full overflow-hidden"
      >
        <svg
          class="relative block w-full fill-white"
          viewBox="0 0 428 30"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0 0.699707C68.3516 18.5165 140.068 28 214 28C287.932 28 359.648 18.5165 428 0.699707V29.5H0V0.699707Z"
          ></path>
        </svg>
      </div>
    </header>
    <main>
      <div
        class="text-center mb-32 md:mb-40 md:flex md:gap-10 container mx-auto md:px-8"
      >
        <div class="md:text-left md:flex-shrink-0 md:basis-1/2">
          <Headline type="primary">quiénes somos</Headline>
          <Title>Nuestra misión es darle una comida caliente</Title>
          <p class="text-base text-gray-400 mb-16 md:text-xl">
            Somos una corporación que nace en la comuna de Quilpué cuyo interés
            es ir en ayuda de personas en situación de calle y adultos mayores
            que se encontraban en estado de vulneración alimentaria.
          </p>
        </div>
        <div class="overflow-x-hidden md:absolute md:left-1/2">
          <div
            class="flex items-center gap-4 mb-4 overflow-hidden md:translate-x-20"
          >
            <div
              class="images relative overflow-hidden rounded-lg bg-slate-400 h-20 md:h-40 w-32 md:w-60 flex-shrink-0"
            >
              <img
                class="absolute opacity-100 transition-opacity ease-in-out duration-300 left-0 z-10 h-full w-full object-cover"
                src="images/social/2.jpg"
                alt=""
              />
              <img
                class="absolute left-0 h-full w-full object-cover"
                src="images/social/4.jpg"
                alt=""
              />
            </div>
            <div
              class="images relative overflow-hidden rounded-lg bg-slate-400 h-20 md:h-40 w-36 md:w-64 flex-shrink-0"
            >
              <img
                class="absolute opacity-100 transition-opacity ease-in-out duration-300 left-0 z-10 h-full w-full object-cover"
                src="images/social/9.jpg"
                alt=""
              />
              <img
                class="absolute left-0 h-full w-full object-cover"
                src="images/social/31.jpg"
                alt=""
              />
            </div>
            <div
              class="images relative overflow-hidden rounded-lg bg-slate-400 h-20 md:h-40 w-32 md:w-60 flex-shrink-0"
            >
              <img
                class="absolute opacity-100 transition-opacity ease-in-out duration-300 left-0 z-10 h-full w-full object-cover"
                src="images/social/27.jpg"
                alt=""
              />
              <img
                class="absolute left-0 h-full w-full object-cover"
                src="images/social/24.jpg"
                alt=""
              />
            </div>
            <div
              class="images relative overflow-hidden rounded-lg bg-slate-400 h-20 md:h-40 w-36 md:w-64 flex-shrink-0"
            >
              <img
                class="absolute opacity-100 transition-opacity ease-in-out duration-300 left-0 z-10 h-full w-full object-cover"
                src="images/social/37.jpg"
                alt=""
              />
              <img
                class="absolute left-0 h-full w-full object-cover"
                src="images/social/29.jpg"
                alt=""
              />
            </div>
            <div
              class="images relative overflow-hidden rounded-lg bg-slate-400 h-20 md:h-40 w-36 md:w-64 flex-shrink-0"
            >
              <img
                class="absolute opacity-100 transition-opacity ease-in-out duration-300 left-0 z-10 h-full w-full object-cover"
                src="images/social/22.jpg"
                alt=""
              />
              <img
                class="absolute left-0 h-full w-full object-cover"
                src="images/social/23.jpg"
                alt=""
              />
            </div>
            <div
              class="images relative overflow-hidden rounded-lg bg-slate-400 h-20 md:h-40 w-36 md:w-64 flex-shrink-0"
            >
              <img
                class="absolute opacity-100 transition-opacity ease-in-out duration-300 left-0 z-10 h-full w-full object-cover"
                src="images/social/20.jpg"
                alt=""
              />
              <img
                class="absolute left-0 h-full w-full object-cover"
                src="images/social/17.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="flex items-center gap-4 md:translate-x-10">
            <div
              class="images relative overflow-hidden rounded-lg bg-slate-400 h-20 md:h-40 w-32 md:w-60 flex-shrink-0"
            >
              <img
                class="absolute opacity-100 transition-opacity ease-in-out duration-300 left-0 z-10 h-full w-full object-cover"
                src="images/social/13.jpg"
                alt=""
              />
              <img
                class="absolute left-0 h-full w-full object-cover"
                src="images/social/33.jpg"
                alt=""
              />
            </div>
            <div
              class="images relative overflow-hidden rounded-lg bg-slate-400 h-20 md:h-40 w-36 md:w-64 flex-shrink-0"
            >
              <img
                class="absolute opacity-100 transition-opacity ease-in-out duration-300 left-0 z-10 h-full w-full object-cover"
                src="images/social/5.jpg"
                alt=""
              />
              <img
                class="absolute left-0 h-full w-full object-cover"
                src="images/social/7.jpg"
                alt=""
              />
            </div>
            <div
              class="images relative overflow-hidden rounded-lg bg-slate-400 h-20 md:h-40 w-32 md:w-60 flex-shrink-0"
            >
              <img
                class="absolute opacity-100 transition-opacity ease-in-out duration-300 left-0 z-10 h-full w-full object-cover"
                src="images/social/11.jpg"
                alt=""
              />
              <img
                class="absolute left-0 h-full w-full object-cover"
                src="images/social/12.jpg"
                alt=""
              />
            </div>
            <div
              class="images relative overflow-hidden rounded-lg bg-slate-400 h-20 md:h-40 w-36 md:w-64 flex-shrink-0"
            >
              <img
                class="absolute opacity-100 transition-opacity ease-in-out duration-300 left-0 z-10 h-full w-full object-cover"
                src="images/social/18.jpg"
                alt=""
              />
              <img
                class="absolute left-0 h-full w-full object-cover"
                src="images/social/37.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
      <div class="text-center mb-32 md:container md:mx-auto px-8">
        <div
          class="flex flex-col lg:flex-row bg-[#E83771] rounded-2xl text-white overflow-hidden"
        >
          <div class="md:text-left basis-1/2 p-8 md:p-12 xl:p-24">
            <Headline>Causas</Headline>
            <Title type="secondary">Nuestros programas de ayuda</Title>
            <p class="text-xl mb-8">
              A través de una importante cadena logística solidaria buscamos
              entregar un importante aporte nutricional, que ayude a fortalecer
              el sistema inmunológico de las personas más expuestas de nuestra
              sociedad, mediante la ingesta de una comida balanceada
              nutricionalmente. La elaboración de comidas calientes por parte de
              los restaurant Rewind, Sous Sol, La Casona de Quilpué,
              Sibaritaclub y Trotamundos Terraza se convierten en pilares
              fundamentales de nuestro proyecto, todos ellos pertenecientes a
              nuestra querida comuna de Quilpué.
            </p>
            <p class="text-xl">
              Toda esta cadena de amor se termina con la importante ayuda de las
              oficinas de Integración comunitaria de Carabineros de la Segunda
              Comisaria de Quilpué, que a través de su estrategia de trabajo del
              Modelo de Integración Carabineros – Comunidad (MICC), son los
              distribuidores de las comidas a nuestros beneficiarios. Cada tarde
              se retiran del lugar de preparación y así llevarlas “calentitas” a
              su destino.
            </p>
          </div>
          <div class="basis-1/2">
            <img
              class="w-full h-full object-cover"
              src="images/social/21.jpg"
              alt=""
            />
          </div>
        </div>
      </div>

      <div class="text-center container mx-auto mb-32 md:px-8">
        <div class="lg:text-left md:mb-10 lg:hidden">
          <Headline type="primary">Cómo trabajamos</Headline>
          <Title classes="px-8 md:px-0">
            Cómo logramos llegar a cientos de personas con ayuda.
          </Title>
        </div>
        <div class="md:flex md:items-center">
          <div class="md:flex md:flex-col md:w-4/6">
            <div class="lg:text-left md:mb-10 hidden lg:block">
              <Headline type="primary">Cómo trabajamos</Headline>
              <Title classes="px-8 md:px-0">
                Cómo logramos llegar a cientos de personas con ayuda.
              </Title>
            </div>
            <div class="flex pl-8 md:pl-0">
              <div
                class="flex flex-col basis-7/12 md:basis-auto lg:flex-row lg:gap-8"
              >
                <div class="text-left mb-16 md:basis-1/2">
                  <BoxIcon classes="w-16 h-16 md:w-24 md:h-24" />
                  <h4 class="font-title text-xl mb-2 md:text-2xl">Recaudar</h4>
                  <p class="text-gray-400 md:text-lg lg:text-xl">
                    Recaudamos fondos de la sociedad civil, aportes de empresas
                    y negocios, personas que de manera desinteresada han querido
                    aportar para la elaboración de cenas y canastas.
                  </p>
                </div>
                <div class="text-left md:basis-1/2">
                  <HandIcon classes="w-16 h-16 md:w-24 md:h-24" />
                  <h4 class="font-title text-xl mb-2 md:text-2xl">
                    Entregamos
                  </h4>
                  <p class="text-gray-400 md:text-lg lg:text-xl">
                    Diariamente entregamos los insumos a los restaurantes
                    quieren preparan 51 cenas.
                  </p>
                </div>
              </div>
              <div class="overflow-hidden basis-5/12 md:hidden">
                <img src="images/hero.png" class="w-96 h-96 object-contain" />
              </div>
            </div>
          </div>
          <div class="hidden md:block flex-grow">
            <img src="images/hero.png" class="w-96 object-contain" />
          </div>
        </div>
      </div>
      <div class="text-center md:mb-32">
        <Headline type="primary">colaboradores</Headline>
        <Title>Quienes hacen esto posible</Title>
        <LogoSlider data={partners} />
      </div>
      <div class="text-center container mx-auto px-8 relative top-40 z-10">
        <div class="md:flex md:justify-between">
          <div class="md:text-left md:basis-1/3 lg:basis-1/2">
            <Headline type="primary">Se parte</Headline>
            <Title>Puedes ser parte de UCAD</Title>
            <p class="hidden md:block text-gray-400 md:text-lg lg:text-xl">
              Pudiese decir que se puede participar: donando (tiempo, dinero y
              víveres), cocinando y compartiendo.
            </p>
          </div>
          <AccountInfo />
        </div>
        <div
          class="flex justify-between py-5 text-left md:flex-col md:w-1/2 lg:w-auto"
        >
          <p
            class="text-sm md:text-lg lg:text-xl text-gray-400 basis-1/2 md:mb-4"
          >
            ¿Tienes víveres o insumos para la elaboración de cenas?
          </p>
          <div class="flex gap-2 items-center">
            <Phone classes="w-4 md:w-5 lg:w-6" />
            <span class="text-white font-semibold md:text-lg lg:text-xl"
              >+56 9 8137 4477</span
            >
          </div>
        </div>
      </div>
    </main>
    <Footer />
  </body>
</Layout>

<script>
  function getRandomInt(max) {
    return Math.floor(Math.random() * max);
  }

  function filterBy(container, tag) {
    return [...container.childNodes].filter((node) => node.nodeName === tag);
  }

  const images = document.querySelectorAll(".images");

  setInterval(() => {
    for (let j = 0; j < images.length; j++) {
      const imgs = filterBy(images[j], "IMG");
      let random = getRandomInt(36) + 1;
      while (imgs.some((img) => img.src === random)) {
        random = getRandomInt(36) + 1;
      }
      imgs[0].classList.toggle("opacity-0");
      setTimeout(() => {
        let index = imgs[0].classList.contains("opacity-0") ? 0 : 1;
        imgs[index].src = `./images/social/${random}.jpg`;
      }, 1000);
    }
  }, 10000);
</script>
