---
  const TYPES = {
    primary: 'text-gray-900',
    secondary: 'text-white',
  }
  const { classes } = Astro.props
  const type = TYPES[Astro.props.type]
---

<h2 class={`text-3xl lg:text-4xl 2xl:text-5xl font-title mb-10 ${classes} ${type}`}>
  <slot />
</h2>
