---
// Component Imports
import Button from '../components/Button.astro';
import Logo from '../components/Logo.astro';
import Logo2 from '../components/Logo2.astro';
import Logo3 from '../components/Logo3.astro';
import Title from '../components/Title.astro';
import Headline from '../components/Headline.astro';
import Charity from '../components/icons/Charity.astro';
import Phone from '../components/Phone.astro';
import Facebook from '../components/Facebook.astro';
import Instagram from '../components/Instagram.astro';
import Twitter from '../components/Twitter.astro';
import LogoSlider from '../components/LogoSlider.astro';
import AccountInfo from '../components/AccountInfo.astro';
import CauseCard from '../components/CauseCard.astro'
import HandIcon from '../components/icons/HandIcon.astro'
import BoxIcon from '../components/icons/BoxIcon.astro'

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Inter:wght@400;600&family=Source+Sans+Pro:wght@600;700&display=swap" rel="stylesheet">
		<title>UCAD - Corporaci贸n iniciativa UCAD</title>
	</head>

	<body>
		<header class="h-full bg-cover relative from-cyan-500 to-blue-500 bg-[#612D87] bg-[url('https://images.pexels.com/photos/1233532/pexels-photo-1233532.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')] bg-blend-multiply mb-20">

      <div class="container mx-auto px-6 pt-16 pb-32">
        <div class="flex place-content-center mb-10"><Logo /></div>
        <h1 class="text-3xl font-bold text-white mb-4 font-title">Corporaci贸n iniciativa UCAD</h1>
        <p class="text-white w-3/5 mb-10">Nuestra labor es ayudar a personas en situaci贸n de calle y adultos mayores en estado de vulneraci贸n.</p>
        <Button>S茅 parte</Button>
      </div>
      <div class="absolute -bottom-px left-0 w-full overflow-hidden">
        <svg class="relative block w-full fill-white" viewBox="0 0 428 30" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0.699707C68.3516 18.5165 140.068 28 214 28C287.932 28 359.648 18.5165 428 0.699707V29.5H0V0.699707Z"/>
        </svg>
      </div>

    </header>
    <main class="">
      <div class="text-center mb-20">
        <div class="px-8">
          <Headline>qui茅nes somos</Headline>
          <Title>Nuestra misi贸n es darle una comida caliente</Title>
          <p class="text-base text-gray-500 mb-16">Somos una corporaci贸n que nace en la comuna de Quilpu茅 cuyo inter茅s es ir en ayuda de personas en situaci贸n de calle y adultos mayores que se encuentran en estado de vulneraci贸n alimentaria.</p>
        </div>
        <div class="flex items-center gap-4 mb-4 overflow-hidden">
          <div class="overflow-hidden rounded-lg bg-slate-400 h-20 w-32 flex-shrink-0 -translate-x-14">
            <img class="h-full w-full object-cover" src="https://images.pexels.com/photos/6646917/pexels-photo-6646917.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
          </div>
          <div class="overflow-hidden rounded-lg bg-slate-400 h-20 w-36 flex-shrink-0 -translate-x-14">
            <img class="h-full w-full object-cover" src="https://images.pexels.com/photos/6647119/pexels-photo-6647119.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
          </div>
           <div class="overflow-hidden rounded-lg bg-slate-400 h-20 w-32 flex-shrink-0 -translate-x-14">
            <img class="h-full w-full object-cover" src="https://images.pexels.com/photos/6646883/pexels-photo-6646883.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
          </div>
          <div class="overflow-hidden rounded-lg bg-slate-400 h-20 w-36 flex-shrink-0 -translate-x-14">
            <img class="h-full w-full object-cover" src="https://images.pexels.com/photos/6994855/pexels-photo-6994855.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
          </div>
          <div class="overflow-hidden rounded-lg bg-slate-400 h-20 w-36 flex-shrink-0 -translate-x-14">
            <img class="h-full w-full object-cover" src="https://images.pexels.com/photos/6994855/pexels-photo-6994855.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
          </div>
          <div class="overflow-hidden rounded-lg bg-slate-400 h-20 w-36 flex-shrink-0 -translate-x-14">
            <img class="h-full w-full object-cover" src="https://images.pexels.com/photos/6994855/pexels-photo-6994855.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
          </div>
        </div>
        <div class="flex items-center gap-4">
          <div class="overflow-hidden rounded-lg bg-slate-400 h-20 w-32">
            <img class="h-full w-full object-cover" src="https://images.pexels.com/photos/6646917/pexels-photo-6646917.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
          </div>
          <div class="overflow-hidden rounded-lg bg-slate-400 h-20 w-36">
            <img class="h-full w-full object-cover" src="https://images.pexels.com/photos/6647119/pexels-photo-6647119.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
          </div>
           <div class="overflow-hidden rounded-lg bg-slate-400 h-20 w-32">
            <img class="h-full w-full object-cover" src="https://images.pexels.com/photos/6646883/pexels-photo-6646883.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
          </div>
          <div class="overflow-hidden rounded-lg bg-slate-400 h-20 w-36">
            <img class="h-full w-full object-cover" src="https://images.pexels.com/photos/6994855/pexels-photo-6994855.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
          </div>
        </div>
      </div>
      <div class="text-center mb-12">
        <Headline>causas</Headline>
        <Title>Nuestros programas de ayuda</Title>
        <div class="flex gap-4 overflow-x-scroll scroll-smooth">
          <CauseCard img="https://images.pexels.com/photos/6994963/pexels-photo-6994963.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" title="ucad" description="Una comida caliente al D铆a, nuestra causa principal para llegar con una cena caliente para personas vulnerables."/>
          <CauseCard img="https://images.pexels.com/photos/6994963/pexels-photo-6994963.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" title="ucad" description="Una comida caliente al D铆a, nuestra causa principal para llegar con una cena caliente para personas vulnerables."/>
        </div>
      </div>
      <div class="text-center container mx-auto mb-20 md:mb-32">
        <div class="md:flex">
          <div class="md:flex md:flex-col md:w-1/2 ">
            <div class="md:text-left md:mb-10">
            <Headline>C贸mo trabajamos</Headline>
            <Title classes="px-8 md:px-0">C贸mo logramos llegar a cientos de personas con ayuda.</Title>
          </div>
          <div class="flex pl-8 md:pl-0">
            <div class="flex flex-col basis-7/12 md:basis-auto md:flex-row md:gap-8">
              <div class="text-left mb-16 md:basis-1/2">
                <HandIcon classes="w-16 h-16 md:w-24 md:h-24" />
                <h4 class="font-title text-xl mb-2 md:text-2xl">Recaudar</h4>
                <p class="text-gray-400 text-sm md:text-xl">Recaudamos fondos de la sociedad civil, aportes de empresas y negocios, personas que de manera desinteresada han querido aportar para la elaboraci贸n de cenas y canastas.</p>
              </div>
              <div class="text-left md:basis-1/2">
                <BoxIcon classes="w-16 h-16 md:w-24 md:h-24"/>
                <h4 class="font-title text-xl mb-2 md:text-2xl">Entregamos</h4>
                <p class="text-gray-400 text-sm md:text-xl">Diariamente entregamos los insumos a los restaurantes quieren preparan 51 cenas.</p>
              </div>
            </div>
            <div class="overflow-hidden basis-5/12 md:hidden">
              <Charity classes="w-96 h-96"/>
            </div>
          </div>
          </div>
          <div class="hidden md:block flex-grow">
            <Charity classes="w-2/3 ml-auto"/>
          </div>
        </div>
      </div>
      <div class="text-center">
        <Headline>colaboradores</Headline>
        <Title>Quienes hacen esto posible</Title>
        <LogoSlider />
      </div>
      <div class="text-center container mx-auto px-8 md:px-0 relative top-40 z-10">
        <div class="md:flex md:justify-between">
          <div class="md:text-left md:basis-1/2">
            <Headline>Ser parte</Headline>
            <Title>Puedes ser parte de UCAD</Title>
            <p class="hidden md:block text-gray-400 text-xl">Diariamente entregamos los insumos a los restaurantes quieren preparan 51 cenas.</p>
          </div>
          <AccountInfo />
        </div>
        <div class="flex justify-between py-5 text-left">
          <p class="text-sm md:text-xl text-gray-400 basis-1/2">驴Tienes v铆veres o insumos para la elaboraci贸n de cenas?</p>
          <div class="flex gap-2 items-center">
            <Phone />
            <span class="text-white font-semibold">+56 9 4457 9011</span>
          </div>
        </div>
      </div>
    </main>
    <footer class="bg-[#612D87] relative pt-72">
      <div class="flex justify-between px-8 md:px-0 items-end pb-10 container mx-auto">
        <Logo2 classes="w-36 h-40 block md:hidden"/>
        <Logo3 classes="w-96 h-32 hidden md:block" />
        <div class="flex gap-4">
          <a class="h-8 w-8 md:h-10 md:w-10 flex items-center justify-center border border-white rounded md:rounded-md transition-all group hover:bg-[#E83771] cursor-pointer opacity-50 hover:opacity-100 hover:border-[#E83771]">
            <Facebook classes="transition-all stroke-white w-4 h-4 md:w-6 md:h-6" />
          </a>
          <a class="h-8 w-8 md:h-10 md:w-10 flex items-center justify-center border border-white rounded md:rounded-md transition-all group hover:bg-[#E83771] cursor-pointer opacity-50 hover:opacity-100 hover:border-[#E83771]">

          <Instagram classes="transition-all stroke-white w-4 h-4 md:w-6 md:h-6 " />
          </a>
          <a class="h-8 w-8 md:h-10 md:w-10 flex items-center justify-center border border-white rounded md:rounded-md transition-all group hover:bg-[#E83771] cursor-pointer opacity-50 hover:opacity-100 hover:border-[#E83771]">

          <Twitter classes="transition-all stroke-white w-4 h-4 md:w-6 md:h-6" />
          </a>
        </div>
      </div>
      <p class="text-white font-semibold text-center py-4 md:py-8 border-t border-violet-700 md:text-xl">Hecho con <a class="transition-all underline hover:text-slate-300" href="https://astro.build/">astro</a> y con  por <a class="transition-all underline hover:text-slate-300" href="https://goede.cl" target="_blank" >goede.cl</a></p>
    </footer>
	</body>
</html>
